html,
body {
  font-family: "Roboto", "Helvetica Neue",sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: hidden;
}

.home {
  margin: 0rem;
}

.info__btn-fade {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 3.5rem;
  font-size: 1.6rem;
  color: #fff;
  -webkit-box-shadow: 0 0.3rem 0.7rem 0 #353535;
          box-shadow: 0 0.3rem 0.7rem 0 #353535;
  margin: 0 0.3em 0.3em 0;
  padding: 1.5rem 3rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 2rem;
}

.info__btn-fade:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 0 0.6rem 1.4rem 0 #353535;
          box-shadow: 0 0.6rem 1.4rem 0 #353535;
}

.operation__btn {
  max-width: 30.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #f6f6f6;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  -webkit-box-shadow: 0 0.3rem 0.7rem 0 #eaeaea;
          box-shadow: 0 0.3rem 0.7rem 0 #eaeaea;
  margin: 0 0.3em 0.3em 0;
  padding: 0.1rem 3rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

.operation__btn__circle {
  margin-left: -4rem;
  color: #a16be0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.operation__btn__circle p {
  color: white;
  margin-left: -1.7rem;
  font-weight: normal;
  vertical-align: 0.2em;
}

.operation__btn__icon {
  color: #757575;
  margin-left: 3rem;
}

.operation__btn__icon i {
  vertical-align: -0.1em;
  width: 4rem;
}

.operation__btn__text a {
  margin-left: 2rem;
  text-decoration: none;
  color: black;
}

.operation__btn:hover {
  background: #f2eafb;
  -webkit-box-shadow: 2px 2px 10px 2px #e4d5f6;
          box-shadow: 2px 2px 10px 2px #e4d5f6;
}

.operation__btn:hover > .operation__btn__icon {
  color: #9356dc;
}

/** ----------------- Restaurants -----------------**/
.menu__btn-fade {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 3.5rem;
  font-size: 1.6rem;
  color: #fff;
  -webkit-box-shadow: 0 0.3rem 0.7rem 0 #353535;
          box-shadow: 0 0.3rem 0.7rem 0 #353535;
  margin: 0 0.3em 0.3em 0;
  padding: 1rem 5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.menu__btn-fade:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 0 0.6rem 1.4rem 0 #353535;
          box-shadow: 0 0.6rem 1.4rem 0 #353535;
}

.header {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 6.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__logo img {
  height: 3.5rem;
  width: 100%;
}

.header__arrow {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-decoration: none;
  color: #353535;
  margin-left: 2rem;
}

.footer {
  color: white;
  background: #353535;
  padding: 0.5rem;
  text-align: center;
  max-width: 100%;
  padding-bottom: 2rem;
}

.footer__links {
  text-align: left;
  margin-left: -1rem;
}

.footer__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
  max-width: 15rem;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.footer__logo img {
  width: 9rem;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__iconSet {
  margin-right: 1.5rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
  list-style: none;
}

/*loading spinner*/
:root {
  --effect: hover 3s linear infinite;
}

.fade-1 {
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
}

.fade-2 {
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

.fade-3 {
  -webkit-animation: fadeIn 1.2s;
          animation: fadeIn 1.2s;
}

.fade-4 {
  -webkit-animation: fadeIn 1.6s;
          animation: fadeIn 1.6s;
}

.fade-5 {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.fade-6 {
  -webkit-animation: fadeIn 2.4s;
          animation: fadeIn 2.4s;
}

.fade-7 {
  -webkit-animation: fadeIn 2.8s;
          animation: fadeIn 2.8s;
}

.fade-8 {
  -webkit-animation: fadeIn 3.2s;
          animation: fadeIn 3.2s;
}

.fade-9 {
  -webkit-animation: fadeIn 3.6s;
          animation: fadeIn 3.6s;
}

.fade-10 {
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
}

.fade-11 {
  -webkit-animation: fadeIn 4.4s;
          animation: fadeIn 4.4s;
}

.fade-12 {
  -webkit-animation: fadeIn 4.8s;
          animation: fadeIn 4.8s;
}

.fade-13 {
  -webkit-animation: fadeIn 5.2s;
          animation: fadeIn 5.2s;
}

.fade-14 {
  -webkit-animation: fadeIn 5.6s;
          animation: fadeIn 5.6s;
}

.fade-15 {
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
}

.loader {
  -webkit-animation: loader 4s;
          animation: loader 4s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 999;
}

.letter {
  display: inline-block;
  text-align: center;
  font-size: 6rem;
  font-family: "Shrikhand", cursive;
  font-weight: 600;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  color: #99e2d0;
  -webkit-text-stroke: 2px gray;
}

.letter:nth-child(1) {
  -webkit-animation: var(--effect);
          animation: var(--effect);
}

.letter:nth-child(2) {
  -webkit-animation: var(--effect);
          animation: var(--effect);
}

.letter:nth-child(3) {
  -webkit-animation: var(--effect) 0.35s;
          animation: var(--effect) 0.35s;
}

.letter:nth-child(4) {
  -webkit-animation: var(--effect) 0.35s;
          animation: var(--effect) 0.35s;
}

.letter:nth-child(5) {
  -webkit-animation: var(--effect) 0.75s;
          animation: var(--effect) 0.75s;
}

.letter:nth-child(6) {
  -webkit-animation: var(--effect) 0.75s;
          animation: var(--effect) 0.75s;
}

.letter:nth-child(7) {
  -webkit-animation: var(--effect) 0.75s;
          animation: var(--effect) 0.75s;
}

.letter:nth-child(8) {
  -webkit-animation: var(--effect) 0.75s;
          animation: var(--effect) 0.75s;
}

/** fadeIn animation **/
:root {
  --fadeeffect: slideUp;
}

.fade1 {
  -webkit-animation: var(--fadeeffect) 2.5s;
          animation: var(--fadeeffect) 2.5s;
}

.fade2 {
  -webkit-animation: var(--fadeeffect) 3.5s;
          animation: var(--fadeeffect) 3.5s;
}

.fade3 {
  -webkit-animation: var(--fadeeffect) 4.5s;
          animation: var(--fadeeffect) 4.5s;
}

.fade4 {
  -webkit-animation: var(--fadeeffect) 5.5s;
          animation: var(--fadeeffect) 5.5s;
}

/** ValidationBox **/
.valbox {
  display: none;
  width: 30%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.btn-circle {
  font-size: 24px;
  color: #fff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.cardMenu:hover .cardMenu__price {
  -webkit-animation: valbox-container ease 0.3s;
          animation: valbox-container ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  min-width: 50px;
}

.cardMenu:hover .valbox {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  background: #99e2d0;
  max-width: 50px;
  overflow: hidden;
  -webkit-animation: valbox ease 0.3s;
          animation: valbox ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.cardMenu:hover .btn-circle {
  position: absolute;
  left: 27%;
  top: 30%;
  background: #99e2d0;
  -webkit-animation: validebtn ease 0.5s 1;
          animation: validebtn ease 0.5s 1;
}

/**loader**/
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: #9356dc;
    -webkit-text-stroke: 2px gray;
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ff79da;
    -webkit-text-stroke: 2px gray;
  }
}

@keyframes hover {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: #9356dc;
    -webkit-text-stroke: 2px gray;
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ff79da;
    -webkit-text-stroke: 2px gray;
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/**
@keyframes slideUp {
    from {
        margin-top: 0%;
        height: 300%;
        opacity: 0;
    }
    to {
        margin-top: 0%;
        height: 100%;
        opacity: 1;
    }
}
**/
@-webkit-keyframes slideUp {
  10% {
    height: 100%;
    opacity: 0;
  }
  /**
  50% {
    margin-top: 0%;
    height: 100%;
  }
  **/
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  10% {
    height: 100%;
    opacity: 0;
  }
  /**
  50% {
    margin-top: 0%;
    height: 100%;
  }
  **/
  100% {
    opacity: 1;
  }
}

/**valbox **/
@-webkit-keyframes valbox {
  0% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  20% {
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  40% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  60% {
    -webkit-transform: translate(15px, 0);
            transform: translate(15px, 0);
  }
  80% {
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  100% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}
@keyframes valbox {
  0% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  20% {
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  40% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  60% {
    -webkit-transform: translate(15px, 0);
            transform: translate(15px, 0);
  }
  80% {
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  100% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

@-webkit-keyframes valbox-container {
  0% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  40% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  70% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

@keyframes valbox-container {
  0% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  40% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  70% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

@-webkit-keyframes validebtn {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@keyframes validebtn {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

.home {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home {
  max-width: 1440px;
  margin: auto;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.4rem;
  font-family: "Roboto", sans-serif;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 5rem;
  background: #eaeaea;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0em 0.2rem rgba(53, 53, 53, 0.2);
          box-shadow: inset 0em 0.2rem rgba(53, 53, 53, 0.2);
}

.localisation__icon {
  margin-left: 7.5rem;
}

.searchSet {
  background: #eaeaea;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5rem;
  font-size: 1.8rem;
}

.info {
  background: #f6f6f6;
  margin-top: 0rem;
  padding: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  height: 26.6rem;
}

.info p {
  color: #757575;
  font-size: 1.8rem;
  line-height: 2rem;
}

.operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background: white;
  padding-bottom: 6rem;
}

.operation__header {
  margin-left: 2rem;
  padding-top: 2rem;
}

.restaurant {
  height: 122.6rem;
  color: black;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant__header {
  margin-left: 0rem;
}

.card__heart, .card__hearthover:hover, .card__heart:hover {
  -webkit-transition: 0.5s 0s ease;
  transition: 0.5s 0s ease;
}

.card {
  margin: 0rem;
  background-color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  width: 100%;
  height: 25.2rem;
  margin-bottom: 2rem;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__text {
  line-height: 1.0rem;
  margin-top: 0rem;
  margin-left: 1rem;
}

.card__text h3 p {
  font-size: 2.8rem;
}

.card__heart {
  margin-right: 3rem;
  color: #757575;
  position: absolute;
  right: 3rem;
}

.card__hearthover {
  margin-right: 3rem;
  position: absolute;
  right: 3rem;
  opacity: 0;
}

.card__hearthover:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.card img {
  width: 100%;
  max-height: 17.4rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.card:hover {
  cursor: pointer;
}

.card__heart:hover {
  opacity: 0;
}

.card__hearthover:hover {
  opacity: 1;
}

.card__new {
  position: relative;
}

.newflag {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #99e2d0;
  color: #278870;
  padding: 0.3rem 1rem;
  font-weight: bold;
  text-decoration: none;
}

.infop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.cardFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

/* ------------- Responsive------------- */
@media screen and (min-width: 601px) {
  .cardFlex {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .card {
    margin: 1rem;
  }
  .infop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    width: 45%;
  }
  .info {
    width: 50%;
    height: auto;
    background: white;
  }
  .operation {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant {
    height: auto;
    width: 45%;
  }
}

.photorestaurants {
  width: 100%;
  height: 28rem;
}

.photorestaurants h2 {
  font-weight: lighter;
}

.photorestaurants img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background: #eaeaea;
  width: 100%;
  border-radius: 3.5rem 3.5rem 0 0;
  margin-top: -5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__header {
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 94%;
}

.menu h1 {
  font-weight: 100;
}

.iconMenu {
  margin-right: 3rem;
  color: #757575;
}

.headerMenu {
  margin-left: 2rem;
  font-size: 1.5rem;
  position: relative;
}

.headerMenu:after {
  content: '';
  width: 4rem;
  height: 0.4rem;
  background: #99e2d0;
  position: absolute;
  bottom: -0.4rem;
}

.headerMenu p {
  color: #5b5b5b;
  font-size: 1.6rem;
}

.options {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cardMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /** height: 7rem;**/
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 1.5rem;
  cursor: pointer;
  width: 100%;
  -webkit-box-shadow: 0 0.3rem 0.7rem 0 grey;
          box-shadow: 0 0.3rem 0.7rem 0 grey;
}

.cardMenu__text {
  padding: 0.1rem;
  line-height: 0.8rem;
  padding-top: 0.5rem;
  margin-left: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardMenu__price {
  margin-right: 2rem;
  margin-top: 2.4rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.starter {
  width: 100%;
}

.maincourse {
  width: 100%;
}

.dessert {
  width: 100%;
}

.cardMenu__text:hover h3 p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ------------- Responsive------------- */
@media screen and (min-width: 601px) {
  .photorestaurants {
    height: 50rem;
  }
  .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cardMenu {
    width: 30%;
  }
  .menu {
    height: 65rem;
  }
}
/*# sourceMappingURL=main.css.map */