.footer {
    color: white;
    background: $color-darkgrey;
    padding: 0.5rem;
    text-align: center;
    max-width: 100%;
    padding-bottom: 2rem;
    
    &__links {
        text-align: left;
        margin-left:-1rem;
    } 
    &__logo {
        filter: invert(1);
        max-width: 15rem;
        font-size: 1.5rem;
        margin-top: 2rem;
        
    }
    &__logo img {
        width: 9rem;
    }
    &__icon {
        display: flex;
        align-items: center;
    }
    &__iconSet {
        margin-right: 1.5rem;

    }
}
    footer a {
        text-decoration: none;
        color: white;
    }
    footer ul {
        list-style: none;
    }

