html,
body {
    font-family: "Roboto", "Helvetica Neue",sans-serif;
}
html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body {
    font-size:1.4rem;
    line-height:1.6;
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
}
.home {
    margin:0rem;
}
